.layout {
  height: 100vh;
  width: 100%;
  background: linear-gradient(180deg,#000917, #25333d);

  &-controller {
    width: 252px;
    height: 94px;
    background: #000917;
    border-radius: 10px;
    // box-shadow: 10px 5px 5px #3a6b71;
    margin-left: 30px;
    border: 1px solid #3e3937;

    &-item {
      width: 50px;
      display: inline-block;
      border-right: 1px solid #393d3e;
      border-bottom: 1px solid #393d3e;
      text-align: center;
      cursor: pointer;
    }
  }
}