.palette {

  &-btn, &-btn-active {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: rebeccapurple;
    position: absolute;
    bottom: 20px;
    right: 0;
    top: -20px;
    z-index: 99;

    &-active {
      background: yellowgreen;
      border-radius: 50%;
    }
  }
  &-expand {
   max-width: 400px;
  }
};